<h2>All todos</h2>
<% if todos.any? %>
  <div id="todos">
    <% todos.each do |todo| %>
      <div class="todo">
        <h2><%= todo.title %></h2>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no todos yet.</p>
<% end %>
